
streamlit>=1.37.1
pypdf==4.3.1
faiss-cpu>=1.12.0
sentence-transformers==3.0.1
langchain==0.2.11
openai==1.42.0
python-dotenv==1.0.1
tqdm==4.66.5
pytest==8.3.2
numpy==1.26.4
google-generativeai==0.8.3
llm-cost-sdk @ git+https://github.com/abhi-00g/ai-cost-dashboard.git@main#subdirectory=sdk
